:root {
  --primary-color: #578e58;
  --secondary-color: #58578e;
  --button-active-primary: lightgreen;
  --button-active-secondary: #00dd03;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*
.navbar {
  position: fixed;
  background-color: var(--primary);
  transition: width 600ms ease;
  height: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 10rem;
}

.nav-item {
  width: 100%;
}

.nav-item:hover {

}

.nav-item:last-child {
  margin-top: auto;
}

.nav-btn {
  display: flex;
  align-items: center;
  height: 1.5rem;
  color: black;
  text-decoration: none;
  transition: 300ms;
  padding: 1rem;
  font: lighter 1.5rem "Segoe UI", Arial, Helvetica, sans-serif;
  text-align: center;
  user-select: none;
}

.nav-btn:hover {
  background-color: var(--primary-light);
  /*box-shadow: 0px 0px 0px 2px rgba(var(--button-active-secondary), 0.75);*/
  /*border: 2px solid var(--button-active-secondary);*//*
  cursor: pointer;

}

.nav-btn:active {
  background-color: var(--primary-lighter);
  transition: 100ms;
  border-radius: 2rem;
}
*/
.btn {
  padding: 15px;
  margin: 0px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
  transition: 0.2s;
  width: 100%;
  /*font-family: 'Courier New', Courier, monospace; */
  font: bolder 1rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: var(--button-active-primary);
  box-shadow: 0px 0px 0px 2px rgba(var(--button-active-secondary), 0.75);
  /*border: 2px solid var(--button-active-secondary);*/
  cursor: pointer;
}

.nav-btn:last-child {
  margin-top: auto;
}

#main {
  margin-left: 10rem;
}